<script type="text/javascript">
  CollapsibleLists.apply();
</script>
<p id="notice"><%= notice %></p>
<% @quater == nil ? @quater = 'Q1' : @quater = @quater %>
<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Quater</button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    <%= link_to 'Q1 2018', {:controller => "teams", :action => "index", :quater => 'Q1' } %>
    <%= link_to 'Q2 2018', {:controller => "teams", :action => "index", :quater => 'Q2' } %>
    <%= link_to 'Q3 2018', {:controller => "teams", :action => "index", :quater => 'Q3' } %>
    <%= link_to 'Q4 2018', {:controller => "teams", :action => "index", :quater => 'Q4' } %>
  </div>
</div>

<h1>Teams</h1>
<ul class="collapsibleList">
  <% @teams.each do |team| %>
  <% create_lists(team) %><% investment_values = 0 %>
  <li class="middlething"><%= "#{team.name}:" %><div class="pull-right"> <% Investment.where(team_id: team.id).each {|j| investment_values += j.investment} %><%= investment_values%></div>
    <ul><% @roadmaps.each do |map, value| %>
      <li><%= map.name %><div class="pull-right"> <%= @roadmaps[map] %> </div>
        <ul><% @initiatives.each do |init, value| %>
          <% if init.roadmap_id == map.id %>
          <li><%= init.name %><div class="pull-right"> <%= @initiatives[init] %></div>
            <ul><% @features.each do |feat, value| %>
              <% if feat.initiative_id == init.id %>
              <li><%= feat.name %> <div class="pull-right"> <%= @features[feat] %> </div>
              </li>
              <%end%><%end%>
            </ul>
          </li>
          <%end%><%end%>
        </ul>
      </li>
      <%end%>
    </ul>
  </div></li>
  <%end%>
</ul>

<br>

<%= link_to 'New Team', new_team_path %>
