<p id="notice"><%= notice %></p>
<!-- makes sure that a quater is selected -->
<% quater = params[:quater] %>
<% quater == nil ? quater = 'Q1' : quater = quater %>

<%= form_tag(teams_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Teams" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<!-- this dropdown button selects which quater to see the index in -->
<div class="dropdown">
<button onclick="dropButton(1)" class="btn btn-lg btn-success">Quater</button>
  <div id="dropbox1" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()"> <!-- this is a search function for the quater REVIEW -->
    <%= link_to 'Q1 2018', teams_path(:quater => 'Q1', :search => params[:search]) %>
    <%= link_to 'Q2 2018', teams_path(:quater => 'Q2', :search => params[:search]) %>
    <%= link_to 'Q3 2018', teams_path(:quater => 'Q3', :search => params[:search]) %>
    <%= link_to 'Q4 2018', teams_path(:quater => 'Q4', :search => params[:search]) %>
  </div>
</div>

<!-- this button is to add a new team -->
<a id="newBTN" class="btn btn-lg btn-success pull-right" href="<%=new_team_path%>">New Team +</a>
<br>
<br>
<!-- this button is for selecting if you want to sort the teams by team name -->
<%= render "sorting_button", var: "Name" %>
<!-- this button if for selecting if you want to sort the teams by total investment for this quater -->
<%= render "sorting_button", var: "Investment" %>

<%= render "filter_button", var: "Investment" %>

<!-- this calls the sorting function and organizes the teams -->
<% sorting() %>

<%= will_paginate @teams%> <!-- paginates -->

<%counter = 0%> <!-- the counter is for the dropdown funtion and helps create an automated nesting system -->

<h1>Teams</h1>
<ul class="collapsibleList">
<!-- iterates through every team in teams -->
<% @teams.each do |team| %>
  <!-- creates the lists (helper) and initializes the investment value -->
  <% create_lists(team, quater) %><% investment_values = 0 %>
  <!-- this is the value of the entire team's investments for the selected quater -->
  <% @features.each {|f, value| (f.quater == quater) ? (Investment.where(team_id: team.id, feature_id: f.id ).each {|j| investment_values += j.investment}) : a=0} %>

  <% color = color(investment_values)%>
  <li class="middlething bg-<%= color %>"> <!-- this class is to keep the values on the right aligned -->
    <!-- * dropdowndivs is to make the div shrink to fit, onclick will make the list below it dissapear -->
    <div class="dropdowndivs" onclick="dropdown(<%=counter%>)"><%= "#{team.name}:" %></div>
    <div class="dropdowndivs"><%= link_to "->", team_path(team.id, :quater => params[:quater]) %></div>
    <!-- ** color sets the background color for the number, pull right puts it on the right, bg- is background shorthand for boostrap, and the counter is for colapsibility -->
    <div class="pull-right investment_value"><%= investment_values%></div>
    <ul id="<%= counter %>" class="dropdownlist"><% counter += 1 %>

      <!-- iterates through all of the roadmaps -->
      <% @roadmaps.each do |map, value| %>
      <% color = color(@roadmaps[map])%>
      <li class="bg-<%= color %>">
        <!-- see * -->
        <div class="dropdowndivs" onclick="dropdown(<%=counter%>)"><%= map.name %></div>
        <div class="dropdowndivs"><%= link_to "->", roadmap_path(map.id) %></div>
        <!-- see ** -->
        <div class="pull-right investment_value"> <%= @roadmaps[map] %> </div>
        <ul id="<%= counter %>" class="dropdownlist"><% counter += 1 %>

          <!-- iterates through all of the initiatives -->
          <% @initiatives.each do |init, value| %>
          <% if init.roadmap_id == map.id %>
          <% color = color(@initiatives[init])%>
          <li class="bg-<%= color %>">
            <!-- see * -->
            <div class="dropdowndivs" onclick="dropdown(<%=counter%>)"><%= init.name %></div>
            <div class="dropdowndivs"><%= link_to "->", initiative_path(init.id) %></div>
            <!-- see ** -->
            <div class="pull-right investment_value"> <%= @initiatives[init] %></div>
            <ul id="<%= counter %>" class="dropdownlist"><% counter += 1 %>

              <!-- iterates through all of the features -->
              <% @features.each do |feat, value| %>
              <% if feat.initiative_id == init.id %>
              <% color = color(@features[feat])%>
              <li class="bg-<%= color %>">
                <!-- see * -->
                <div class="dropdowndivs"><%= feat.name %></div>
                <div class="dropdowndivs"><%= link_to "->", feature_path(feat.id) %></div>
                <!-- see ** -->
                <div class="pull-right investment_value"> <%= @features[feat] %> </div>

              </li>
              <%end%><%end%>
            </ul>
          </li>
          <%end%><%end%>
        </ul>
      </li>
      <%end%>
    </ul>
  </div></li>
<%end%>
</ul>

<br>
