<p id="notice"><%= notice %></p>

<% @quater == nil ? @quater = 'Q1' : @quater = @quater %>
<div class="dropdown">
<button onclick="dropButton(1)" class="btn btn-lg btn-success">Quater</button>
  <div id="dropbox1" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    <%= link_to 'Q1 2018', team_path(:quater => 'Q1') %>
    <%= link_to 'Q2 2018', team_path(:quater => 'Q2') %>
    <%= link_to 'Q3 2018', team_path(:quater => 'Q3') %>
    <%= link_to 'Q4 2018', team_path(:quater => 'Q4') %>
  </div>
</div>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
  <br>
  <% resourcesValue = 0 %>
  <% feats = [] %>
  <% Investment.where(team_id: @team.id).find_each do |n|%>
    <% feat = n.feature_id %>
    <% if Feature.find_by(id: feat).quater == @quater %>
      <% feats += [Feature.find_by(id: feat)] %>
      <% resourcesValue += n.investment %>
    <% end %>
  <% end %>
  <strong>Percentage of Allocated Resources:</strong><%= " #{resourcesValue}%" %>
</p>

<p>
  <% feats.each do |i| %>
  <% feature = Feature.find_by(id: i) %>
  <strong>Feature:</strong>
  <%= link_to feature.name, feature_path(feature.id) %> | <strong> Allocated: </strong>
  <%="#{Investment.find_by(team_id: @team.id, feature_id: i).investment}%" %>
  <br>
  <% end %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Teams', teams_path %>
