<%= form_with(model: @investment, local: true) do |form| %>
  <% errors = params[:errors] %>
  <% if errors != nil %>
    <div id="error_explanation">
      <h2><%= pluralize(errors.count, "error") %> prohibited this Team from being saved:</h2>
      <ul>
      <% errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.text_field :team_id %>
    <%= form.hidden_field :feature_id, :value => @feature.id %> <!-- to keep the feature id for creation -->
    <%= form.hidden_field :investment, :value => 0 %> <!-- default investment to prevent database errors -->
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
