<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @roadmap.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @roadmap.description %>
</p>

<%= link_to 'Edit', edit_roadmap_path(@roadmap) %> |
<%= link_to 'Roadmaps', roadmaps_path %>
<br>
<p>
  <strong>Initiatives:</strong>
  <% Initiative.where(roadmap_id: @roadmap.id).find_each do |init| %>
  <p>
    <strong>  Name:</strong>
    <%= link_to init.name, initiative_path(init) %>
  </p>
  <% end %>
</p>
