<%= form_with(model: initiative, local: true) do |form| %>
  <% if initiative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(initiative.errors.count, "error") %> prohibited this initiative from being saved:</h2>

      <ul>
      <% initiative.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :roadmap_id %>
    <%= form.text_field :roadmap_id %>
  </div>

  <div class="field">
    <%= form.label :investment %>
    <%= form.text_field :investment %>
  </div>

  <div class="field">
    <%= form.label :percentage %>
    <%= form.text_field :percentage %>
  </div>

  <div class="field">
    <%= form.label :estimated_teams %>
    <%= form.text_field :estimated_teams %>
  </div>

  <div class="field">
    <%= form.label :teams %>
    <%= form.text_field :teams %>
  </div>

  <div class="field">
    <%= form.label :key_strategey %>
    <%= form.text_field :key_strategey %>
  </div>

  <div class="field">
    <%= form.label :product_manager %>
    <%= form.text_field :product_manager %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
