<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @initiative.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @initiative.description %>
</p>

<p>
  <strong>Roadmap:</strong>
  <%= link_to @initiative.roadmap_id, roadmap_path(@initiative.roadmap_id) %>
</p>


<strong> Percentage: </strong><%= @initiative.percentage %> <br>
<strong> Estimated Teams: </strong><%= @initiative.estimated_teams %> <br>
<strong> Teams: </strong><%= @initiative.teams %> <br>
<strong> Product Manager: </strong><%= @initiative.product_manager %> <br>
<br>
<%= link_to 'Edit', edit_initiative_path(@initiative) %> |
<%= link_to 'Initiatives', initiatives_path %>
<p>
  <strong>Features:</strong>
  <% Feature.where(initiative_id: @initiative.id).find_each do |feat| %>
  <p>
    <strong>  Name:</strong>
    <%= link_to feat.name, feature_path(feat) %>
  </p>
  <% end %>
</p>
