<p id="notice"><%= notice %></p>

<h1>Quaters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quaters.each do |quater| %>
      <tr>
        <td><%= quater.name %></td>
        <td><%= link_to 'Show', quater %></td>
        <td><%= link_to 'Edit', edit_quater_path(quater) %></td>
        <td><%= link_to 'Destroy', quater, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quater', new_quater_path %>
