<div class="dropdown">
<button onclick="dropButton('<%= var %>')" class="btn btn-lg btn-success"><%= var %></button>
  <div id="dropbox<%= var %>" class="dropdown-content">
    <%= link_to 'Ascending', features_path(var.to_sym => 'ascending') %>
    <%= link_to 'Descending', features_path(var.to_sym => 'descending') %>
  </div>
</div>

<!-- <%= link_to 'Ascending', features_path(request.query_parameters.merge({var.to_sym => 'ascending'})) %>
<%= link_to 'Descending', features_path(request.query_parameters.merge({var.to_sym => 'descending'})) %> -->
