<%= form_with(model: $inv, local: true) do |form| %>
  <% if $inv.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize($inv.errors.count, "error") %> prohibited this investment from being saved:</h2>

      <ul>
      <% $inv.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h1><%= "Team: #{$inv.team_id} | Feature: #{$inv.feature_id} | Quater: #{Feature.find($inv.feature_id).quater}" %></h1>
  <div class="field">
    <%= form.label :investment %>
    <%= form.text_field :investment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
