<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feature.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feature.description %>
</p>

<p>
  <strong>Initiative:</strong>
  <%= link_to @feature.initiative_id, initiative_path(@feature.initiative_id) %>
</p>

<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Features', features_path %>
<br>
<p>
  <strong>Teams:</strong>
  <%= Team.where(feature_id: @feature.id).find_each do |team| %>
  <p>
    <strong>  Name:</strong>
    <%= link_to team.name, team_path(team) %>
     | <strong>Percentage invested: </strong>
     <%= "#{Connector.find_by(feature_id: @feature.id, team_id: team.id).investment}%" %>
  <% end %>
</p>
